<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ödev 7</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styless.css">
</head>
<body>
    <header>
    <h1>Öğrenci Bilgileri</h1>
    <p>İsim: Furkan</p>
    <p>Soyisim: Akınalp</p>
    <p>Öğrenci Numarası: 211220035</p>
    <h2>Rastgele Koordinatlar Görseli</h2>
    </header>
    <main>
    <img src="{{ url_for('static', filename='plot.jpeg') }}" alt="Rastgele Koordinatlar">
    <br>
    </main>
    <button onclick="window.location.href='/generate_new'">Yeni Noktalar Oluştur</button>
</body>
</html>
