



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, p {
    color: black;
}

p {
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    background-color: #e70a0a;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
}

button:hover {
    background-color: #005f5f;
}

img {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
}